<!DOCTYPE html>
<!--[if IE]><![endif]-->
{{!-- <html lang="en" class="no-js {{htmlClass}}" manifest="{{root}}cache.appcache"> --}}
<html lang="en" class="no-js {{htmlClass}}">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="{{root}}robots.txt">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"> --> <!-- See .htaccess -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">
        <meta name="author" content="Simon Knittel <hallo@simonknittel.de>">

        <!-- Favicon -->
        <!-- <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon"> -->

        <!-- Apple Icon https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <!-- <link rel="apple-touch-icon-precomposed" href="{{root}}assets/img/apple-touch-icon-precomposed.png"> -->

        <!-- Win8 Tile https://msdn.microsoft.com/en-us/library/ie/dn255024%28v=vs.85%29.aspx -->
        <!-- <meta name="msapplication-TileColor" content="#222"> -->
        <!-- <meta name="msapplication-square70x70logo" content="{{root}}assets/img/win8-square-70x70.png"> -->
        <!-- <meta name="msapplication-square150x150logo" content="{{root}}assets/img/win8-square-150x150.png"> -->
        <!-- <meta name="msapplication-wide310x150logo" content="{{root}}assets/img/win8-wide-310x150.png"> -->
        <!-- <meta name="msapplication-square310x310logo" content="{{root}}assets/img/win8-square-310x310.png"> -->
        <!-- <meta name="msapplication-notification" content=""> -->

        <!-- Fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <!-- Adress bar colour -->
        <!-- <meta name="theme-color" content="#999999"> -->
    </head>
    <body>
        <!--[if lt IE 11]>
        <div class="outdated-browser-notification"><p>You are using an <strong>outdated</strong> browser.</p></div>
        <![endif]-->
        <noscript class="no-js__notification">
            <div>
                <p>May you have to <strong>activate</strong> JavaScript to use this site.</p>
            </div>
        </noscript>

        {{!-- <aside class="new-version">
            <h1>New version</h1>
            This page got updated. <a class="new-version__cta" href="#">Do you want to reload this page?</a>
        </aside> --}}
